header {
    background-color: rgb(0, 102, 255, 0.5);
    color: white;
    font-size: 175%;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
}

footer {
    background-color: rgb(0, 102, 255, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}